@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSerifSC';
  src: url('../fonts/NotoSerifSC-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Global Font Settings */
:root {
  --el-font-family: 'NotoSans', 'NotoSerifSC', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

body {
  font-family: var(--el-font-family);
  letter-spacing: 1px;
  font-size: 14px;
}
